/* Global typography styles
========================================================================== */

@font-face {
  font-family: 'VegawantyRegular-owEPx';
  font-style: italic;
  font-weight: 400;
  src: url('/VegawantyRegular-owEPx.woff2') format('woff2');
}

@font-face {
  font-family: 'TestSöhneBreit-Kräftig';
  font-style: normal;
  font-weight: 600;
  src: url('/TestSöhneBreit-Kräftig.woff2') format('woff2');
}

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-family: $font-body;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $font-heading;
  font-weight: 500;
}
